<section *ngIf="prodctDetail">
<header class="rk-portfolio-cover"  >
    <div class="item-inside__meta">
      <img src="assets/productos/{{ idP }}/main.jpg" [ngStyle]="{'background-size:':  '50%', 'background-position:' :' 50% 100%' }" alt="">
      <h1 class="ae-u-bolder rk-portfolio-title ">{{ prodctDetail.producto  }}</h1>
      <p class="ae-theta rk-portfolio-category ">{{ prodctDetail.categoria  }}</p>
    </div>
  </header>
  <div class="ae-container-fluid">
    <div class="ae-grid ae-grid--collapse rk-portfolio-info ">
      <div class="ae-grid__item item-lg-8 item-sm--center au-xs-ta-center au-lg-ta-left">
        <h2 class="rk-portfolio-inner-title" style="text-align:center;">{{ prodctDetail.subtitulo1  }}</h2>
      </div>
    </div>
  </div>
  <div class="ae-container-fluid ae-container-fluid--inner rk-portfolio--inner">
    <div class="ae-grid ae-grid--collapse au-xs-ptp-1">
      <div class="ae-grid__item item-lg-5 au-lg-ptp-1">
        <h4 class="ae-u-bolder">{{ prodctDetail.subtitulo1  }}</h4>
        <p class="ae-eta">{{ prodctDetail.desc1  }}</p>
      </div>
      <div class="ae-grid__item item-lg-6 item-lg--offset-1">
        <img src="assets/productos/{{ idP }}/pic-1.jpg" alt="">
      </div>
    </div>
    <div class="ae-grid ae-grid--collapse">
      <div class="ae-grid__item item-lg-8">
        <img src="assets/productos/{{ idP }}/pic-2.jpg" alt="">
      </div>
      <div class="ae-grid__item item-lg-3 item-lg--offset-1 au-lg-ptp-1">
        <p>AQUI DESC2 {{ prodctDetail.desc2  }}</p>
        <p class="ae-u-bolder">{{ prodctDetail.producto  }}</p>
      </div>
    </div>
    <div class="ae-grid ae-grid--collapse au-xs-ptp-1 au-xs-pbp-1">
      <div class="ae-grid__item item-lg-8 item-lg--offset-2">
        <h4 class="ae-u-bolder">{{ prodctDetail.subtitulo1 }}</h4>
        <p class="ae-eta">{{ prodctDetail.resumen  }}</p>
      </div>
    </div>

  </div>
  <div class="ae-container-fluid au-pt-4 au-pb-4">
    <div class="group-buttons"><a href="#0" class="au-mt-2 arrow-button arrow-button--right">Next Project<span class="arrow-cont">
          <svg>
            <use xlink:href="assets/img/symbols.svg#arrow"></use>
          </svg></span></a></div>
  </div>

</section>
