<div class="ae-grid au-xs-ta-center au-mb-4">

    <!-- Content of About Us -->
    <div class="item-inside__meta" style=" display:block;margin:auto;">
        <h1 class=" ae-u-bolder rk-portfolio-title ">About Me</h1>
        <p class="ae-theta rk-portfolio-category ">I always like to learn new things</p>
    </div>

    <div class="ae-grid ae-grid--collapse ">
        <div class="ae-grid__item item-lg-6 ">
            <!-- Image -->
            <div *ngFor=" let person of infoPageTeam.team " style=" display:block;margin:auto; " class="ae-grid__item item-lg-4 ae-kappa au-mb-3 ">
                <img src="{{ person.img_url }} " alt=" " class="au-mb-3 ">
                <p class="ae-u-bolder au-mb-3 ">{{ person.subtitulo }}</p>
                <p class="ae-u-bolder au-mb-3 ">
                    <a [href]="person.github " target="_blank " class="ae-u-bolder au-underline "><i class="fab fa-github-square "></i>Github</a>
                </p>
                <p class="ae-u-bolder au-mb-3 ">
                    <a [href]="person.freecodecamp " target="_blank " class="ae-u-bolder au-underline "><i class="fas fa-code "></i>FreeCodeCamp Profile</a>
                </p>
            </div>
        </div>
        <div class="ae-grid__item item-lg-5 au-lg-ptp-1 item-lg--offset-1 ">
            <!-- Text content -->
            <h6 class="ae-u-bolder ">Who I am?</h6>
            <p> I'm a developer who is interested by deepening their knowledge of javascript and now I'm improving my skills in terms of framework based on js like angular v7, typescript and all js Enviroment. I 'm a very curious person who likes challenges,
                if i have an oportunity i will do my best.

            </p>
            <br>
            <p>
                In terms of languages continued to improve English and Portuguese for myself, I already have a level intermediate in English, and basic in Portuguese.
            </p>
        </div>
    </div>

    <div class="ae-grid au-pt-2 ">
        <div class="ae-grid__item item-lg-8 item-lg--offset-2 ">
            <h4 class="ae-u-bolder ">My Skills</h4>
            <p> I'm a always learning something new, for now my Roadmap are javascript technologies or framework based-on like React, Redux, Angular v6, and anothers technologies like Less, Sass, Stylus. I am following the FreeCodeCamp Path</p>
        </div>
    </div>

    <!-- Imprimir los habilidades en logos, se agregan en firebase en la tabla de skills en forma de tupla nombre, y img_url (la imagen debe agregarse a firebase) -->
    <div *ngFor="let sk of infoPageTeam.skills " class="animated fadeIn delay-2s ae-grid__item item-lg-4 ae-kappa au-mb-3 ">
        <img src="{{ sk.img_url }} " alt=" " class="au-mb-3 " style="width: 150px;height: 150px; ">
    </div>

    <p class="au-flex au-pt-8 group-buttons ">
        <a routerLink="home " class="au-mt-8 ">
            View Our Portfolio
          </a>
    </p>