<div class="item-inside__meta" style=" display:block;margin:auto;">
    <h1 class=" ae-u-bolder rk-portfolio-title ">Portfolio</h1>
    <p class="ae-theta rk-portfolio-category ">Getting better every project</p>
</div>

<div class="ae-container-fluid ae-container-fluid--inner rk-portfolio--inner">
    <!-- index is the iterator in ngFor, even is true when index is even and odd is true when index is odd -->
    <div *ngFor="let prod of infoProductsInterface.products ; let evenIndex = even ; let oddIndex = odd ;" [ngClass]="{ even: evenIndex, odd: oddIndex }">
        <!-- using ngIf with else -->
        <div *ngIf=" evenIndex ; else oddSection">
            <div class="ae-grid ae-grid--collapse au-xs-ptp-1">
                <div class="ae-grid__item item-lg-5 au-lg-ptp-1">
                    <h4 class="ae-u-bolder">{{ prod.titulo }}</h4>
                    <p class="au-mb-3">{{ prod.resumen }}</p>
                </div>
                <div class="ae-grid__item item-lg-6 item-lg--offset-1">
                    <img src="assets/productos/{{ prod.url }}" alt="{{ prod.categoria }} ">
                </div>
            </div>
        </div>

        <ng-template #oddSection>
            <div class="ae-grid ae-grid--collapse">
                <div class="ae-grid__item item-lg-8">
                    <img src="assets/productos/{{ prod.url }}" alt=" ">
                </div>
                <div class="ae-grid__item item-lg-3 item-lg--offset-1 au-lg-ptp-1">
                    <p class="au-mb-3">{{ prod.resumen }}</p>
                    <p class="ae-u-bolder">{{ prod.titulo }}</p>
                </div>
            </div>
        </ng-template>

    </div>
</div>

<div class="ae-container-fluid au-pt-4 au-pb-4">
    <div class="group-buttons"><a href="#0" class="au-mt-2 arrow-button arrow-button--right">Home
          <span class="arrow-cont">
              <svg>
                <use xlink:href="assets/img/symbols.svg#arrow"></use>
              </svg>
            </span>
            </a>
    </div>
</div>